
body {
  padding-bottom: 50px;
}
/*  */
/* post_list.html */

.link_black{
	color: inherit;
}
.link_black:hover{
	color: inherit;
}
.arrow-left{
	font-size: 24px;
	text-align: center;
}
.white_back{
	background-color: white;

}
.white_back_div{
	background-color: white;
	height: 11px;

}
.margin_none{
	margin: 0px;
}
.btn_prim_active{
	background-color: #1AA1CA;
  border-color: #204d74;
}
.btn_def_active{
  background-color: #d4d4d4;
  border-color: #8c8c8c;
 }
 .btn_inf_active{
 	background-color:#286090;
 }
 .post_information{
 	display: block;
 	font-size:  20px;
 	color: #CA1A66;
 	float: right;
 	margin-right: 20px;
 	padding-top: 5px;
 }
.edit__post_btn{
	font-size:  16px;
}
.author_and_date{
	font-size: 10px;
	color: gray;
}
.hr_between_post{
	margin-top: 4px;
}
.pad_betw_auth_and_time{
	padding-left: 5px;
}

/*-----------*/

.remember_btn{
	margin-right: 5px;
}

.error_message{
	color: #333333;
}
.error_message__hr{
	margin: 4px 0 10px 0;
}
.repeat_color{
	color: #008cba;
}
.question_sign{
	float: right;
	color: #008cba;
}
.question_sign:hover{
	color: #2200FF;
	cursor: pointer;
}
.float_right{
	float: right;
	font-size: 12px;
}
#form{
	display: none; 
}
#answer_study{
	display: none;
}
.add_panel{
	line-height: 3.8;
	text-align: center;
	font-size: 30px;
}
.list_in_create_deck{
	padding-left: 20px;
}
.btn-study{
	float: right;
/*	margin-bottom: 0;
	margin-top: -11px;
	font-size: 16px;
	height: 43px;
	margin-right: -16px;
	width: 124px;*/
}
#save_question_btn{
	display: none;
}
#cancel_question_btn{
	display: none;
}
.btn-marg{
	margin-right: 6px;
}

/*  */
/* Create_deck */
#defaul_intervals{
	display: none;
}
#repition_1{

}
#repition_2{
	display: none;
}
#repition_3{
	display: none;
}
#repition_4{
	display: none;
}
#repition_5{
	display: none;
}
#repition_6{
	display: none;
}
#repition_7{
	display: none;
}
#repition_8{
	display: none;
}
#repition_9{
	display: none;
}
#repition_10{
	display: none;
}
#repition_11{
	display: none;
}
#repition_12{
	display: none;
}
#repition_13{
	display: none;
}
 #back_repition_1{
 	display: none;
 }
 #forward_repition_13{
 	display: none;
 }

.add_repition{
	font-size: 10px;
	padding: 6px;
	margin-top: 16px;
	margin-left: 18px;
}
.back_repition{
	font-size: 10px;
	padding: 6px;
	margin-left: 16px;
	margin-top: 16px;
}
.add_repition_text{
	float: right;
	font-size: 10px;
	padding: 6px;
	margin-top: 16px;
	cursor: pointer;
}
.btn_rep{
	font-size: 10px;
	padding: 6px;
	margin-left: 16px;
	margin-top: 16px;
}
.btn_create{
	margin-left: 18px;
}




/*--------------------------------  */

/*  */
/* Registration */

.error_messages {
	display: none;
}



/* */
/* Blog preview */
.out_put_panel{
	display: none;
}
.dotted_hr{
	border:none;
  border-top:1px dotted #dddddd;
  color: black;
  height:1px;
  width:100%;
  display: none;
}
.redactor_btn{
	font-size: 22px;

}
.redactor_btn:hover{
	color: #008cba;
	cursor: pointer;
}
.redactor_btn_plus{
	font-family: 13px;
}
#add_li{
	display: none;
}

.txt_al{
	text-align: center;
}
.read_forward{
	font-size: 12px;
}
.read_forward_icon{
	font-size: 8px;
}
#delete_post{
	float:right;
	color: #B52D2D;
}
#delete_post:hover{
	color: #D21B1B;
	cursor: pointer;
}
#hidden_post{
	float:right;

}
#hidden_post:hover{
	color: #06769F;
	cursor: pointer;
}

/*--------------*/