{% extends "base.html" %}

{% block title %} Колоды {% endblock %}

{% block navigation %}
	{{ block.super }}
{% endblock %}

{% block content %}
	
		{% load key_variable %}


			<div class="row">

	    		
		    	<div class="col-md-5 col-md-offset-1">
		    		{% for deck in deck_list|even_odd_partition:'even' %}
					<div class="panel panel-default">
		  				<div class="panel-heading"> <a href={% url 'question_in_deck' deck.slug %}><span class="glyphicon glyphicon-th-large"> </span> {{ deck.deck_name }}</a> </div>
						<ul class="list-group">
							<li class="list-group-item"> Повторить  <span class="repeat_color">{{repeat_time_question|key_variable:deck.id}} </span>карт{{repeat_time_question|key_variable:deck.id|card_plural_rus}}  </li>
							<li class="list-group-item"><a href={% url 'deck_details' deck.slug %}> <span class="glyphicon glyphicon-plus"> </span> Редактировать </a> </li>
						</ul>
					</div>
					{% endfor %}
					{% if deck_list|length|divisibleby:2 %}
					<a href="{% url 'create_deck' %}">
						<div class="panel panel-default">
							  <div class="add_panel"> <span class="glyphicon glyphicon-plus"> </span>  </div>
						</div>
					</a> 
					{% endif %}
				</div>

	
		    	<div class="col-md-5">
		    		{% for deck in deck_list|even_odd_partition:'odd' %}
					<div class="panel panel-default">

		  				<div class="panel-heading"> <a href={% url 'question_in_deck' deck.slug %}><span class="glyphicon glyphicon-th-large"> </span> {{ deck.deck_name }}</a> </div>
						<ul class="list-group">
							<li class="list-group-item"> Повторить  <span class="repeat_color">{{repeat_time_question|key_variable:deck.id}} </span>карт{{repeat_time_question|key_variable:deck.id|card_plural_rus}}  </li>
							<li class="list-group-item"><a href={% url 'deck_details' deck.slug %}> <span class="glyphicon glyphicon-plus"> </span> Редактировать </a> </li>
						</ul>
					</div>
					{% endfor %}
					{% if not deck_list|length|divisibleby:2 %}
					<a href="{% url 'create_deck' %}">
						<div class="panel panel-default">
							  <div class="add_panel"> <span class="glyphicon glyphicon-plus"> </span>  </div>
						</div>
					</a> 
					{% endif %}
				</div>
			</div>
			

{% endblock %}