{% extends "base.html" %}

{% block title %} Колоды {% endblock %}

{% block navigation %}
	{{ block.super }}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-5 col-md-offset-1">
		<form action="{% url 'add_question' deck_slug %}" method="post">
			<fieldset>
			<legend>{{deck}}</legend>
			{% csrf_token %}
			<p><label for="question" class="col-lg-2 control-label">Вопрос</label>
			 <textarea rows="2" cols="40" name='question' placeholder='Передняя сторона карточки' id='question' class="form-control"></textarea>   </p>
			<p> <label for="answer" class="col-lg-2 control-label">Ответ</label>
			<textarea rows="10" cols="40" name='answer' placeholder='Оборотная сторона карточки' id='answer' class="form-control"></textarea>   </p>
	
			<p> 
			<button type="submit" id="add_question_btn" class="btn btn-marg btn-primary col-sm-3">Добавить</button>
			<button type="button" id="save_question_btn" class="btn btn-marg btn-primary col-sm-3">Сохранить</button>
			<button type="reset" class="btn btn-marg btn-default col-sm-3">Очистить</button>
			<button type="button" id="cancel_question_btn" class="btn btn-marg btn-default col-sm-3">Отменить</button>

			</p>
			</fieldset>
		</form>
	</div>
	<div class="col-md-5">
		<br>
		{% if question_list %}
	    	{% load key_variable %}
			{% for question in question_list %}
				<div class="panel panel-default">
  					<div class="panel-heading"> {{question.question_text}} 
  					<a q_id="{{question.id}}" q_text="{{question.question_text}}" q_answ="{{question.answer_text}}" class="question_sign edit"> <span class="glyphicon glyphicon-pencil"></span></a>
  					</div> 
					<!-- List group -->
					<ul class="list-group">
						<li class="list-group-item"> <span id="show_ans_{{forloop.counter}}_span">Ответ</span>
						<a id="show_ans_{{forloop.counter}}" is_opened="false" class="question_sign show_ans" q_answ="{{question.answer_text}}" > <span class="glyphicon glyphicon-eye-open"></span></a>
						</li>
						<li class="list-group-item">
							{% with time_left=next_repeat_time|key_variable:question.id|time_format %} 
								{% if time_left != 0 and time_left != 1 %} 
									Повторить через <span class="repeat_color">{{time_left}}</span>
								{% elif time_left == 0 %}
									<span class="repeat_color">Пора</span>
								{% elif time_left == 1 %}
									<span class="repeat_color">Колода завершена</span>
								{% endif %}
							{% endwith %}
							<a class="question_sign"> Сбросить <span class="glyphicon glyphicon-refresh"></span></a>
						</li>
					</ul>
				</div>
			{% endfor %}
		{% else %}
			<p> В этой колоде нет карточек </p>
		{% endif %}
	</div>
</div>

<script>
	var question_id;
	$(document).ready(function(){

		$(".edit").click(function(){
			question_id = ($(this).attr("q_id"))	
			$("#question").val($(this).attr("q_text"))
			$("#answer").val($(this).attr("q_answ"))
			$("#add_question_btn").hide()
			$("#save_question_btn").show()
			$("#cancel_question_btn").show()
		});

		$(".show_ans").click(function(){
			var id = $(this).attr("id")
			var is_opened = $(this).attr("is_opened")
			if (is_opened == "false"){
				$("#" + id + "_span").html($(this).attr("q_answ"))
				$(this).attr("is_opened", "true")
			}
			else{
				$("#" + id + "_span").html("Ответ")
				$(this).attr("is_opened", "false")
			}


		});
	
		$("#cancel_question_btn").click(function(){
			$("#question").val("")
			$("#answer").val("")
			$("#add_question_btn").show()
			$("#save_question_btn").hide()
			$("#cancel_question_btn").hide()		
		});

		$("#save_question_btn").click(function(){
			$("#save_question_btn").html("Выполняем...")
			$.ajax({
				type: "POST",
				url: "{% url 'edit_question' %}", 
				data:{
					csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
					"question_id": question_id,
					"question_text": $("#question").val(),
					"answer_text": $("#answer").val(),
				},
				success: function(){
					location.reload();
				},
			});
		});

	});
</script>
{% endblock %}