{% extends "base.html" %}

{% block title %} Регистрация {% endblock %}

{% block navigation %}
	<ul class="nav navbar-nav">
		<li><a class="active" href="#">О проекте</a></li>
		<li><a href="{% url 'all_posts' %}">Блог</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li><a href="{% url 'main_page' %}">Вход</a></li>
	</ul>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<form class="form-horizontal" action="{% url 'registration' %}" method="post">
	        	{% csrf_token %}
		        <fieldset>

			          <legend>Регистрация</legend>

			          <div class="form-group">
			              <label for="inputEmail" class="col-lg-2 control-label">Email</label>
			              <div class="col-lg-10">
			                <input type="text" class="form-control" placeholder="Email" name="e-mail" id="e-mail">
			              </div>
			          </div>

			          <div class="form-group">
			            <label for="password" class="col-lg-2 control-label">Password</label>
			            <div class="col-lg-10">
			              <input type="password" class="form-control" placeholder="Длина от 5 символов" name="password" id="password">
			            </div>
			          </div>

			          <div class="form-group">
			            <label for="pas_repeat" class="col-lg-2 control-label">Password</label>
			            <div class="col-lg-10">
			              <input type="password" class="form-control" placeholder="Повторите пароль" name="pas_repeat" id="pas_repeat">
			            </div>
			          </div>

			          <div class="form-group">
			            <div class="col-lg-10 col-lg-offset-2">
			              <button type="reset" class="btn btn-default">Cancel</button>
			              <button type="button" id="submit_btn" class="btn btn-primary">Submit</button>
			            </div>
			          </div>

			          <div class="form-group">
			          	<div class="col-lg-10 col-lg-offset-2 error_messages">
			          		<hr>
							<span class="glyphicon glyphicon-ban-circle"> </span>
							<span id="message"> </span>
			          	</div>
			          </div>

		        </fieldset>
	      	</form>
		</div>
	</div>

<script>
	$(document).ready(function(){
		var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
		$(submit_btn).click(function(){
			if (!$("#e-mail").val() || !$("#password").val() || !$("#pas_repeat").val()){
				$("#message").html("Все поля являются обязательными");
				$(".error_messages").show();
			}
			else if(! regex.test($("#e-mail").val())){
				$("#message").html("E-mail не корректен");
				$(".error_messages").show();
			}
			else if($("#password").val().length < 5){
				$("#message").html("Длина пароля должна быть не меньше 5 символов");
				$(".error_messages").show();				
			}
			else if($("#password").val() != $("#pas_repeat").val()){
				$("#message").html("Пароли не совпадают");
				$(".error_messages").show();	
			}
			else{
				$("#submit_btn").html("Выполняю...");
				$(".error_messages").hide();
				$("#message").html("");
				$.ajax({ 
					type: "POST",
					url: "{% url 'registration' %}",
					data: {
						csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
						"e-mail": $("#e-mail").val(),
						"password": $("#password").val(),
					},
					success: function(){window.location.href = "{% url 'main_page' %}";},
					error: function(){
						$("#message").html("Такой пользователь уже существует");
						$(".error_messages").show();	
						$("#submit_btn").html("Submit")
					}
				});
			}
		});


		$("#e-mail").focus(function(){
			$(".error_messages").hide();
		});
		$("#password").focus(function(){
			$(".error_messages").hide();
		});
		$("#pas_repeat").focus(function(){
			$(".error_messages").hide();
		});

	});
</script>
{% endblock %}
